body {
  margin: 0;
  font-family: 'Comic Sans MS', Arial, sans-serif;
  background: repeating-linear-gradient(
    135deg,
    #f6e3ed,
    #f6e3ed 100px,
    #cee3d9 100px,
    #cee3d9 200px
  );
}

.hero {
  background-image: "img/descarga (8).jpg";
  text-align: center;
  padding: 90px 0 60px 0;
  position: relative;
}

.hero .overlay {
  background: rgba(255,255,255, 0.5);
  display: inline-block;
  padding: 20px 40px;
  border-radius: 20px;
}

.hero h1 {
  font-size: 4em;
  font-family: 'Luckiest Guy', cursive, Arial;
  color: #49513a;
  margin: 0 0 10px 0;
  letter-spacing: 2px;
}
.hero p {
  font-size: 1.5em;
  color: #333;
  margin: 0;
}

section {
  padding: 40px 0;
  text-align: center;
}

.about {
  background: #e7f8eb;
}
.about h2 {
  color: #aeb89d;
  font-size: 2em;
  margin-bottom: 20px;
}
.about-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.about-text {
  max-width: 600px;
  text-align: left;
}

.projects, .skills, .contact {
  background: #fbecee;
}
.projects h2, .skills h2, .contact h2 {
  color: #aeb89d;
  font-size: 2em;
}


.skills ul {
  list-style: none;
  padding: 0;
  max-width: 300px;
  margin: 0 auto;
}

.skills li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  font-size: 1.2em;
  color: #49513a;
  margin-bottom: 8px;
}

.skills img {
  width: 24px; 
  height: auto;
}

.skills {
  background: #e7f8eb;
}

.contact form {
  max-width: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #49513a;
  font-family: 'Comic Sans MS', cursive, Arial, sans-serif;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f6e3ed;
  color: #49513a;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Comic Sans MS', cursive, Arial, sans-serif;
  border: 2px solid #aeb89d;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.button:hover {
  background-color: #aeb89d;
  color: #f6e3ed;
}
